.card{
    display: flex;
    flex-direction: column;

    align-items: space-between;
    
    /* background-color: orange; */
}
.card .watch-later-icon{
    position: absolute;
    right:0;
    top:0;
    
    background-color: white;
    padding:5px;
    color:blue;
    border-radius: 10%;
}
.card .image{
    position: relative;
    width:100%
    
}
.card .image img{
    width:100%;
}
.video-info-section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;

}
.video-info-section .icon-image img{
    width:25px;
    height:25px;
    border-radius:50%
}
.info h4{
    font-size: 12px;
}

.card:hover{
    cursor: pointer;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:0.5rem
    
  }