
body{
    text-decoration: none;
    margin:0;
    padding:0;
   
}.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap:3%;
    
}
.card{
height:250px;
width:350px;
background-color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
margin:2rem;
text-decoration: none;
color:black;

}
.card img{
    height:200px;
    width:300px
}
.card:hover{
    cursor: pointer;
    text-decoration: none;
    
}
h4{
    color:black;
}